.container {
    background-color: #3894a3;
    border-radius: 30px;
}

.col-lg-4 {
    margin-top: 125px;
    margin-bottom: 20px;
}

.container_table {
    padding: 1vw;
}

.scroll {
    overflow: auto;
    height: 420px;
}

.boton_in {
    border-radius: 30px;
    background-color: #2f414F;
    color: #eee;
    font-weight: bold;
    text-transform: uppercase;
}

.boton_in:hover {
    background-color: #ffb668;
    cursor: pointer;
}

.titulo2 {
    background-color: aquamarine;
}

@media screen and (max-width: 1320px) {
    table {
        display: block;
        height: 300px;
        overflow-x: auto;
        overflow-y: auto;
    }
}

@media screen and (max-width:1400px) {
    .col-lg-4 {
        margin-top: 50px;
    }
}